{% block content %} 
<section id="home" data-type="background" data-speed="10" class="pages">     
      <div class="centre">
        <div class="caterhamLogo"></div>
        
 </div>
</section>

<section class="full-bar red">
   <div class="row">
        <div class="large-12 columns">
          <h1>Welcome!</h1>
      </div>
    </div>
</section>
<section class="full-bar light-grey no-border-top">
   <div class="row">
        <div class="large-12 columns">
        <div class="body-copy">
            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper tellus vestibulum ligula tincidunt elementum. Nullam ullamcorper nisl eget ligula egestas varius. Suspendisse <a href="#">arcu mauris</a>, sodales fringilla ligula non, elementum ultrices quam. Pellentesque turpis mauris, blandit vitae tincidunt eu, commodo sed velit. Curabitur pretium, mauris id euismod varius, odio ligula iaculis quam, at adipiscing orci elit at est. Cras sit amet nibh vel odio molestie adipiscing. Sed malesuada, sem id accumsan gravida, libero dui fermentum felis, ac feugiat mi ipsum ut dolor.</p>
         </div>
      </div>
    </div>
</section>

<section id="welcome" data-type="background" data-speed="10" class="pages">
    
    <div class="row">
        <div class="large-12 columns">

      </div>
    </div>
    
</section>

<section class="full-bar red">
   <div class="row">
        <div class="large-12 columns">
          <h2>Latest Galleries and Videos</h2>
      </div>
    </div>
</section>

<section class="full-bar grey no-border-top">
   <div class="row">
        <div class="large-12 columns">
          {% include "feed" %}  
      </div>
    </div>
</section>
     
<section id="wipers"  class="pages">
      <div class="row">
        <div class="large-12 columns">

        </div>

        <div class="large-12 columns">

      </div>
    </div>
</section>
  
{% endblock %}