  <header>
        <a href="#" class="menu">
          <span class="line top"></span>
          <span class="line middle"></span>
          <span class="line bottom"></span>
        </a>
      </header>

<div class="off-canvas">
  <nav>
  <h2>Andy's 7</h2>
  <ul class="slide">
    <li><a href="#">Home</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Tech</a></li>
    <li><a href="#">Specs</a></li>
  </ul>
  <h2>Other Sections</h2>
   <ul class="slide">
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Gaming</a></li>
  </ul>
  <h2>Featured</h2>
  <ul class="featured">
    <li><a href="#"><img src="/assets/images/feature.png"><span>Scotland Tour<em>Full map and details of our 2013 Scotland tour</em></span></a></li>
    <li><a href="#"><img src="/assets/images/feature2.png"><span>Taffia at Llandow<em>Videos and photos from the Taffia Llandow trackday</em></span></a></li>
  </ul>
  </nav>
</div>