$light-grey:#81817f;
$dark-grey:#575857;
$black:#0d0d0d;
$white:#ffffff;
$red:#be3140;
@mixin roboto {font-family: 'Roboto', sans-serif;}

body {
	background-color: $black;
	overflow-x:hidden;
	position:relative;
	font-size:62.5%;
	height:auto;
}

/*Homepage Sections*/
.centre {
		margin-top:200px;
		float:left;
		width:100%;
		position:relative;

		.caterhamLogo {
			background-image:url(../images/caterhamLogo.png);
			background-size:100% 100%;
			background-repeat: no-repeat;
			width:300px;
			height:300px;
			position:absolute;
			left:50%;
			margin-left:-150px;
		}
	}


	.masItem {
		background-color: $white;
		border: 2px solid $light-grey;
	}

	.revealHome h2 {
		font-family: 'Nunito', sans-serif;
		font-size: 1.3em;
		color: $light-grey;
	}

#home { 
  background: url(../images/MountainFull.jpg) 50% 0 repeat fixed;
  background-size:100% auto;
  height: 1200px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}

#welcome { 
  background: url(../images/dials.jpg) 50% 0 repeat fixed;
  background-size:100% auto;
  height: 400px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}

 
#wipers { 
  background: url(../images/wipers.jpg) 50% 50% repeat fixed;
  background-size:100% auto;
  height: 400px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}

/*Full Width Content areas*/

.full-bar { 
  height: auto; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  border-top:10px solid $black;
  border-bottom:10px solid $black;
  padding:2em 0 1em 0;

  &.grey {
  	background-color:$dark-grey;
  }
  &.light-grey {
  	background-color:$light-grey;
  }
  &.red {
  	background-color:$red;
  }

  &.no-border-top {border-top:none;}
}

/*Header and Footer*/

footer { 
  height: auto; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  border-top:10px solid $black;
  background-color:$dark-grey;
}

header {
	position:fixed;
	width:50px;
	height:45px;
	z-index:900;
	background-color: rgba(129,129,127,0.5);
	margin:5px 0 0 5px;
	transition:margin 0.5s;

	&:hover {
			box-shadow: 3px 3px 3px $dark-grey;
		}

	a.menu {
		float:left;
		width:50px;
		padding:10px;
		height:50px;
		position:relative;
	}

	&.open {
		margin-left:270px;
		background-color: $red;
		transition:all 0.5s;

		.line {
			background-color:$white;

			&.top {
				transform:rotate(45deg);
				-webkit-transform:rotate(45deg);
				transition: all 0.5s;
				top:20px;
				left:10px;
			}

			&.middle {
				opacity:0;
				transition: all 0.2s;
			}

			&.bottom {
				transform:rotate(-45deg);
				-webkit-transform:rotate(-45deg);
				transition: all 0.5s;
				top:20px;
				left:10px;
			}
		}
		
	}


	.line {
		position:absolute;
		width:30px;
		background-color:$red;
		height:4px;
		margin-bottom:5px;
		transition: all 0.5s;

		&.top {
			top:10px;
		}

		&.middle {
			top:20px;
		}

		&.bottom {
			top:30px;
		}
	
	}
	
}

/*Off Canvas and Navigation structure*/
.off-canvas {
	position:absolute;
	top:0;
	left:0;
	width:260px;
	height:100%;
	margin-left:-300px;
	border-right:2px solid $black;
	background-color:rgba(255,255,255, 0.5);
	transition: margin 0.5s;

	&.open {
		margin-left:0;
		box-shadow: 5px 0 5px -2px $black;
	}

	z-index:1000;

	nav {
		float:left;
		height:auto;
		@include roboto;

		h2 {
			@include roboto;
			font-size:2.2em;
			float:left;
			width:100%;
			height:auto;
			background-color:rgba(0,0,0, 0.6);
			padding:0.5em;
			margin:0;
			color:$white;
		}

		ul {
			list-style-type:none;
			margin:0;
			padding:0;
			float:left;
			width:100%;
			height:auto;
			background-color:rgba(0,0,0, 0.1);

			&.slide {
				li {
					position:relative;
					float:left;
					width:100%;
					height:auto;
					padding-bottom:5px;
					border-bottom:0px solid rgba(0,0,0,0);
					border-top:0px solid rgba(0,0,0,0);
					
					&:hover {

						background-color:$red;
						transition: background-color 0.5s;
						border-bottom:0px solid $black;
						border-top:0px solid $black;

						a {
							transition:color 0.5s;
							color: $white;
						}
					}

					&.hover-Off {

						background-color:$red;
						transition: color 0.5s;
						border-bottom:0px solid $black;
						border-top:0px solid $black;

						a {
							color:$white;
							span {
								left:220px;
								width:20px;
								height:3px;
								transition:all 0.5s;
								background-color:$white;
								top:15px;
								border:none;

								&:before {
									opacity:1;
									height:3px;
									background-color:$white;
								}

								&:after {
									opacity:1;
									height:3px;
									background-color:$white;
								}
							}
						}
					}

					a {
						color:$black;
						font-size:1.2em;
						float:left;
						width:100%;
						margin-left:10px;
						transition: color 0.5s;

						span {
							position:absolute;
							top:10px;
							left:5px;
							height:10px;
							width:10px;
							background-color:$red;
							transition:all 0.5s;
							border:1px solid $black;

							&:before {
								position:absolute;
								height:0px;
								width:10px;
								left:14px;
								top:-3px;
								background-color:$red;
								content: "";
								opacity:0;
								transform:rotate(45deg);
									-webkit-transform:rotate(45deg);
								transition: opacity 0.5s;
								transition-delay:0.2s;
								-webkit-transition-delay: 0.2s;
								
								
							}

							&:after {
								position:absolute;
								height:0px;
								width:10px;
								left:14px;
								top:3px;
								opacity:0;
								transform:rotate(-45deg);
									-webkit-transform:rotate(-45deg);
								transition: opacity 0.5s;
								transition-delay:0.2s;
								-webkit-transition-delay: 0.2s;
								background-color:$red;
								content: "";
							}
						}
					}
				}
			}

			&.featured 
			{
				li {
					position:relative;
					padding:0;
					margin:0;
					height:260px;
					width:100%;
					border:0;
					overflow:hidden;

					&:hover {
						border:0;

						span {
							height:50%;
							bottom:0;

							em {
								height:auto;
							}
						}
					}

					a {
						position:absolute;
						width:100%;
						height:100%;
						padding:0;
						margin:0;

						span {
							height:30px;
							width:100%;
							padding:0 0.5em 0 0.5em;
							position:absolute;
							bottom:0;
							background-color:rgba(0,0,0,0.6);
							color:$white;
							transition:height 0.5s;

							em {
								float:left;
								width:100%;
								height:0;
								font-weight:normal;
								font-style:normal;
								font-size:0.8em;
							}
						}

						img {
							position:absolute;
							width:100%;
							height:100%;
						}
					}
				}
			}
		}
	}
}

/*Main page area to shift for off canvas nav*/
.main-section {
	width:100%;
	transition: opacity 0.5s;
	position:relative;
	
	&.push {
		opacity:0.4;

		.mask {
			height:100%;
			width:100%;
		}
	}

	/*Mask used a click target to close navigation*/
	.mask {
		position:absolute;
		height:0;
		width:0;
		top:0;
		left:0;
		opacity:0;
		z-index:800;
	}
}





div.feed
{
	width:100%;

	div.item {
		float:left;
		position:relative;
		padding:0;
		margin:0;
		height:300px;
		width:100%;
		border:0;
		overflow:hidden;
		margin-right:1em;
		margin-bottom:1em;

		&:hover {
			border:0;

			span {
				height:50%;
				bottom:0;

				em {
					height:auto;
				}
			}
		}

		a {
			position:absolute;
			width:100%;
			height:100%;
			padding:0;
			margin:0;

			span {
				height:22px;
				width:100%;
				padding:0em 0.5em 0em 0.5em;
				position:absolute;
				bottom:0;
				background-color:rgba(0,0,0,0.6);
				color:$white;
				transition:height 0.5s;
				font-size:2em;

				em {
					float:left;
					width:100%;
					height:0;
					font-weight:normal;
					font-style:normal;
					font-size:0.8em;
				}
			}

			img {
				position:absolute;
				width:100%;
				height:100%;
			}
		}
	}
}

.body-copy {

	p {
		color:$black;
		font-size:1.6em;
	}
	p.intro {
		color:$black;
		font-size:2em;
		@include roboto;
	}

	a {
		color:$white;
		&:hover {
			text-decoration:underline;
		}

	}
	
	&.white {
		p {

		}
		a {

		}
	}

}




.scrollingNegative {
	position:absolute;
	width:150px;
	height:500px;
	display:none;
	opacity: 0;
	transition:opacity 0.5s;

	&.active {
		opacity:1;
	}

}











@media (max-width: 1200px) {
  #home { 
	  height:800px;
	  background-size:auto 100%;
	  width: 100%;  
	}

	#welcome { 
	  height:400px;
	  background-size:auto 100%;
	  width: 100%; 
	}

	#wipers { 
	  height:400px;
	  background-size:auto 100%;
	  width: 100%;  
	}
}


@media (max-width: 320px) {

	.centre {
		margin-top:100px;

		.caterhamLogo {
			background-image:url(../images/caterhamLogo.png);
			background-size:100% 100%;
			background-repeat: no-repeat;
			width:150px;
			height:150px;
			position:absolute;
			left:50%;
			margin-left:-75px;
		}
	}


	.masItem {
		background-color: $white;
		border: 2px solid $light-grey;
	}

	.revealHome h2 {
		font-family: 'Nunito', sans-serif;
		font-size: 1.3em;
		color: $light-grey;
	}

  #home { 
	  height:500px;
	  background-size:auto 100%;
	  width: 100%;  
	}

	#welcome { 
	  height:200px;
	  background-size:auto 100%;
	  width: 100%; 
	}

	 
	#wipers { 
	  height:200px;
	  background-size:auto 100%;
	  width: 100%;  
	}
}