<!doctype html>
<html class="no-js" lang="en">
	<head>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Foundation 5</title>
  		{{ "app.css" | asset_url | stylesheet_tag }}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
  		<link rel="stylesheet" type="text/css" href="/assets/css/custom.css"/>
  		<!--<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>-->
	</head>
	<body>
		{% include "header" %}

		<section class="main-section">
			<div class="mask"></div>
	      {% block content %}{% endblock %}
	    </section>
			
		{% include "footer" %}	
	  	{% include "scripts" %}
  		  
	</body>
</html>